In [4]:
import pandas as pd

In [5]:
#creaing dataframe from the json file
df = pd.read_json('http://barttorvik.com/getadvstats.php?year=all&specialSource=0&conyes=0&start=-11101&end=all0501&top=0&xvalue=All&page=playerstat.json')

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,Jason Praet,Detroit,Horz,6,1.0,0.0,16.8,0.0,0.00,0.0,...,-23.72870,-1.499380,0.1429,0.1429,0.2857,0.0000,0.2857,0.0000,0.0000,None
1,DeAndrae Ross,South Alabama,SB,22,8.4,62.0,14.1,32.6,33.40,0.0,...,-8.91292,-1.912160,0.0000,0.3333,0.3333,0.2083,0.0833,0.0000,0.7500,None
2,DeAndrae Ross,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,...,-2.78199,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,None
3,DeAndrae Ross,Troy,SB,7,11.5,67.1,16.9,34.5,36.11,3.1,...,-7.31982,-3.886670,0.5714,1.1429,1.7143,1.4286,0.1429,0.0000,3.2857,Wing G
4,Pooh Williams,Utah St.,WAC,28,24.3,93.1,13.8,45.2,46.20,1.4,...,-1.89802,-0.713339,0.1379,0.6897,0.8276,1.0000,0.3793,0.0690,2.4483,None

In [7]:
new_columns = {0: 'player_name', 1: 'school', 2: 'conference', 3: 'GP', 4: 'Min_per',
               5: 'ORtg', 6: 'usg', 7: 'eFG', 8: 'TS_per', 9: 'ORB_per', 10: 'DRB_per',
              11: 'AST_per', 12: 'TO_per', 13: 'FTM', 14: 'FTA', 15: 'FT_per',16: 'twoPM',
              17: 'twoPA', 18: 'twoP_per', 19: 'TPM', 20: 'TPA', 21: 'TP_per', 22: 'blk_per',
              23: 'stl_per', 24: 'ftr', 25: 'yr', 26: 'ht', 27: 'num', 28: 'porpag', 29: 'adjoe',
              30: 'pfr', 31: 'year', 32: 'pid', 33: 'type', 34: 'rec-rk', 35: 'ast/tov', 36: 'rimmade',
              37: 'rimmade + rimmiss', 38: 'midmade', 39: 'midmade + midmiss', 40: 'rimmade/(rimmade+rimmiss)',
              41: 'midmade/(midmade+mismiss)', 42: 'dunksmade', 43: 'dunksmiss + dunksmade', 
              44: 'dunksmade/(dunksmade+dunksmiss)', 45: 'pick', 46: 'drtg', 47: 'adrtg', 48: 'dporpag',
              49: 'stops', 50: 'bpm', 51: 'obpm', 52: 'dbpm', 53: 'gbpm', 54: 'mp', 55: 'ogbpm', 56: 'dgbpm'}

In [8]:
#renaming columns
df = df.rename(columns = new_columns)

In [9]:
df.head()

,player_name,school,conference,GP,Min_per,ORtg,usg,eFG,TS_per,ORB_per,...,ogbpm,dgbpm,57,58,59,60,61,62,63,64
0,Jason Praet,Detroit,Horz,6,1.0,0.0,16.8,0.0,0.00,0.0,...,-23.72870,-1.499380,0.1429,0.1429,0.2857,0.0000,0.2857,0.0000,0.0000,None
1,DeAndrae Ross,South Alabama,SB,22,8.4,62.0,14.1,32.6,33.40,0.0,...,-8.91292,-1.912160,0.0000,0.3333,0.3333,0.2083,0.0833,0.0000,0.7500,None
2,DeAndrae Ross,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,...,-2.78199,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,None
3,DeAndrae Ross,Troy,SB,7,11.5,67.1,16.9,34.5,36.11,3.1,...,-7.31982,-3.886670,0.5714,1.1429,1.7143,1.4286,0.1429,0.0000,3.2857,Wing G
4,Pooh Williams,Utah St.,WAC,28,24.3,93.1,13.8,45.2,46.20,1.4,...,-1.89802,-0.713339,0.1379,0.6897,0.8276,1.0000,0.3793,0.0690,2.4483,None

In [10]:
df.isnull().sum()

player_name       0
school            0
conference        0
GP                0
Min_per           0
               ...
60               36
61               36
62               36
63               36
64             9216
Length: 65, dtype: int64

In [14]:
df[df['player_name'] == 'Jordan Taylor']

,player_name,school,conference,GP,Min_per,ORtg,usg,eFG,TS_per,ORB_per,...,ogbpm,dgbpm,57,58,59,60,61,62,63,64
8675,Jordan Taylor,Wisconsin,B10,33,32.5,81.4,13.7,29.5,32.69,3.0,...,-5.78429,1.15094,0.3030,0.6364,0.9394,1.1515,0.3030,0.0000,1.6061,None
8676,Jordan Taylor,Wisconsin,B10,33,73.2,110.8,22.4,45.7,50.16,3.7,...,2.64359,2.00446,0.8788,2.3030,3.1818,3.5758,0.9091,0.0909,10.0303,Scoring PG
8677,Jordan Taylor,Wisconsin,B10,34,90.6,127.7,27.6,51.7,57.57,3.4,...,9.32620,1.57898,0.9412,3.1471,4.0882,4.7353,0.7353,0.1471,18.1471,Scoring PG
8678,Jordan Taylor,Wisconsin,B10,36,89.4,115.1,25.1,48.1,53.77,3.0,...,5.55113,2.69091,0.8611,2.9444,3.8056,4.0833,1.0278,0.0278,14.7778,Scoring PG

In [12]:
df.to_csv('playerdata.csv')